# Package Manager
vendor/
node_modules/
/tests/unit/coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Homestead.json
Homestead.yaml
.env

# IDEs
.DS_Store
.idea/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.settings/
.classpath
.project
nbproject/
nbactions.xml

# Deployment
public/**/*
